<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314127594273-h0uinb2r9ah106nl7mk9bfu4qjvduvjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314127594273-h0uinb2r9ah106nl7mk9bfu4qjvduvjc</string>
	<key>API_KEY</key>
	<string>AIzaSyAF-8ZQ59HTwdtmSdl0qkKyNBekNKs8oo8</string>
	<key>GCM_SENDER_ID</key>
	<string>314127594273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aspire</string>
	<key>PROJECT_ID</key>
	<string>aspire-19fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>aspire-19fcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:314127594273:ios:e37755285ec2fbe5dec460</string>
	<key>DATABASE_URL</key>
	<string>https://aspire-19fcf.firebaseio.com</string>
</dict>
</plist>
